@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
body{
    margin: 0px;
    overflow: auto;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
header{
    display: flex;
    align-items: center;
    width: 1128px;
    justify-content: center;
    margin-inline: 156px;
}

.logo{
    display: flex;
    margin-right: 76px;
}

.web{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4D5AE5;
}

.w_st{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #2E2F42;
}

.body_med{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
    display: flex;
    width: 261px;
    justify-content: space-between;
    margin-right: 332px;
}

.body_med p:hover{
    color: #404BBF;
}

.body_reg{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2E2F42;
    display: flex;
    width: 344px;
    justify-content: space-between;
}

.body_reg p:hover {
    color: #404BBF;
}

.heroimage{
    background-color: #2E2F42;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    background-image: url('images/pep_ofc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heroimage div {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 47, 66, 0.7);
}

.heroimage p{
    position: relative;
    z-index: 2;
    width: 496px;
    height: 120px;
    color: white;
    font-size: 55px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.heroimage button {
    position: relative;
    z-index: 2;
    height: 56px;
    width: 169px;
    background-color: #4D5AE5;
    margin-top: 65px;
    border: 0px;
    color: white;
    padding-inline: 0px;
    padding-block: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: medium;
}

.heroimage button:hover{
    background-color: #404BBF;
}



.sect1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-block: 90px;
    margin-inline: 156px;
}

.sect1div{
    margin-right: 24px;
}

.sect2{
    background-color: #F4F4FD ;
    padding-block: 60px;
}

.sect2text{
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2E2F42;
}

.sect2div{
    background-color: white;
    margin-right: 24px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 440px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
}

.sect2div h3 {
    font-size: 20px;
    color: #2E2F42;
    margin-top: 28px;
    margin-bottom: 16px;
}

.sect2div p {
    font-size: 16px;
    color: #434455;
    margin-block: 0px;
}

.sect2 img{
    height: 260px;
    width: 264px;
}

.sec2_div_img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 264px;
    gap: 23px;
}

.sec2_div_img img{
    height: 40px;
    width: 40px;
}

footer{
    height: 312px;
    background-color: #2E2F42;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer_div_img{
    display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 76px;
        width: 264px;
        gap: 23px;
}

.footText{
    color: white;
    height: 72px;
    width: 264px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.footText2 {
    color: white;
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.sect3{
    margin-inline: 156px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
}

.sect3 img {
    width: 360px;
    height: 300px;
}

.sect3 div{
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
    gap: 24px;
}

.sect3 div div{
    flex-direction: column;
}

.sect3 div h3 {
    font-size: 20px;
    color: #2E2F42;
    margin-top: 28px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    max-height: 0px;
}

.sect3 div  p {
    font-size: 16px;
    color: #434455;
    margin-block: 0px;
    font-family: 'Roboto', sans-serif;
}



/* заміна фоток іконок */

.sec2_div_img img:nth-child(1):hover {
    content: url('images/Ell_ins_hover.png');
}


.sec2_div_img img:nth-child(2):hover {
    content: url('images/Ell_twi_hover.png');
}

.sec2_div_img img:nth-child(3):hover {
    content: url('images/Ell_fe_hover.png');
}

.sec2_div_img img:nth-child(4):hover {
    content: url('images/Ell_in_hover.png');
}

.footer_div_img img:nth-child(1):hover {
    content: url('images/Ell_ins_hover.png');
}


.footer_div_img img:nth-child(2):hover {
    content: url('images/Ell_twi_hover.png');
}

.footer_div_img img:nth-child(3):hover {
    content: url('images/Ell_fe_hover.png');
}

.footer_div_img img:nth-child(4):hover {
    content: url('images/Ell_in_hover.png');
}